{% extends "_base.html" %}


{% block content %}
    <div class="container">
        {% if current_user.is_authenticated %}
            <h1>Welcome, {{current_user.username}}</h1>
            <p><a href="{{url_for('logout')}}">Logout</a></p>

            {% if current_user.entries %}
            <h1>My Entries: </h1>
                {% for entry in current_user.entries %}
                    <article>
                        <h4><a href="{{url_for('details', entry_id=entry.id) }}">{{ entry.title }}</a></h4>
                        <p>Created at: <i>{{ entry.timestamp.strftime("%Y:%m %H:%m") }}</i></p>
                    </article>2
                {% endfor %}
            {% endif %}
        {% else %}
            You don't seem to be logged in.
            <p>
                <a href="{{url_for('login')}}">Login</a>|
                <a href="{{url_for('register')}}">Register</a>
            </p>
        {% endif %}
    </div>
{% endblock %}